:root {
  --svg-side: clamp(16px, (100vw - 320px) * 1000, clamp(20px, (100vw - 640px) * 1000, clamp(25px, (100vw - 1280px) * 1000, 30px)));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  padding: 30px;
}

ul,
li {
  list-style-type: none;
}

.leaderboard-app {
  padding-inline: 15px;
  padding-block: max(5vh, 20px);
  width: min(95vw, 600px);
  color: black;
  background-color: bisque;
  border-radius: 30px;
}

.leaderboard-section {
  display: grid;
  padding-inline: 10px;
  padding-block: max(2.5vh, 10px);
  width: min(91vw, 550px);
  column-gap: 20px;
  grid-template-columns: auto 1fr;
}

.leaderboard-side,
#post-score {
  display: flex;
  flex-flow: column;
  gap: max(2vh, 15px);
}

.leaderboard-header {
  display: grid;
  grid-template-columns: auto 8fr 1fr;
  column-gap: 10px;
}

section svg {
  height: var(--svg-side);
  width: var(--svg-side);
}

.score-list {
  border: 2px solid rgb(114, 46, 46);
  z-index: 1;
  border-radius: 10px;
}

.score-item {
  padding-inline-start: 10px;
  padding-inline-end: 20px;
  padding-block: 2px;
}

.score-item:nth-child(even) {
  background-color: rgb(189, 138, 138);
}

.score-item:hover {
  background-color: cadetblue;
}

.score-item:first-child {
  border-radius: 8px 8px 0 0;
}

.score-item:last-child {
  border-radius: 0 0 8px 8px;
}

.leaderboard-label {
  display: none;
}

.leaderboard-btn {
  padding-inline: 7px;
  padding-block: 5px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px skyblue;
  cursor: pointer;
}

.profile-generic {
  z-index: 1;
  cursor: pointer;
}

.leaderboard-btn:hover {
  box-shadow: 0 0 2px 2px rgb(114, 46, 46);
}

.profile-generic:hover {
  background-color: skyblue;
  box-shadow: 0 0 2px 2px rgb(114, 46, 46);
}

.leaderboard-input {
  padding-inline: 7px;
  padding-block: 5px;
  z-index: 1;
  border-radius: 10px;
}

.leaderboard-submit {
  align-self: flex-end;
}
